body {
  background: #e8e8e8;
}

.App {
  background: white;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 3px 3px 9px #d4d4d4;
}

.chords-table {
  list-style: none;
  display: flex;
  padding-left: 0;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.chords-table.centered {
    justify-content: center;
}

.chords-table li {
  padding: 10px;
  border: 1px solid #e6e6e6;
  background: white;
  margin-right: 10px;
  font-size: 18px;
  border-radius: 3px;
  min-width: 50px;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
}

.chords-table li.random {
  background: #e2e2e2;
  padding: 10px 37px;
}

.app-button {
  border: none;
  padding: 10px 30px;
  background: red;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
}

.app-options {
  padding: 25px 15px;
}

.displayed-chord, .next-displayed-chord {
  text-align: center;
  font-size: 92px;
}

.next-displayed-chord {
  font-size: 52px;
  margin-left: 52px;
  color: #e0e0e0;
  position: absolute;
  bottom: 42px;
}

.option-row {
  padding: 15px;
  background: #f3f3f3;
}

.option-row label {
  padding: 5px 0;
  font-weight: bold;
}

.app-button.random {
    width: auto;
    padding: 6px 10px;
    background: #c1c1c1;
    margin-left: -3px;
}

.option-row input[type="number"] {
  width: 56%;
  padding: 5px 10px;
}

.option-row input[type="radio"] {
  margin-top: 10px;
}

.option-row .radio-val {
  margin-right: 20px;
}

.error {
    color: red;
    font-weight: bold;
    margin-top: -10px;
    display: block;
}

.pulsed {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  } 
}