body {
  background: #2b2b2b;
  background-image: url('img/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #c5c5c5;
}

.App {
  background: rgba(33, 33, 33, 0.97);
  padding: 15px;
  margin: 50px auto;
  border-radius: 6px;
  box-shadow: 3px 1px 19px rgb(186, 199, 1);
}

.hidden {
    opacity: 0;
}

.isVisible {
    opacity: 1;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
}

.chords-table {
  list-style: none;
  display: flex;
  padding-left: 0;
  flex-wrap: wrap;
  justify-content: flex-start;
    margin-bottom: 0;
}

.chords-table.centered {
    justify-content: center;
}

.chords-table li {
  padding: 10px;
  border: 1px solid #2d2d2d;
  background: #7d7d7d;
  margin-right: 10px;
  font-size: 18px;
  border-radius: 3px;
  min-width: 50px;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
    -webkit-transition: 1s;
  transition: 1s;
}

#player .chords-table li {
    transition: none;
    -webkit-transition: none;
}

.chords-table li:hover {
    background: rgb(186, 199, 1);
    color: rgba(33, 33, 33, 0.97);
}

.chords-table li.random {
  background: #e2e2e2;
  padding: 10px 37px;
}

.app-button {
  border: none;
  padding: 10px 30px;
  background: rgb(186, 199, 1);
  color: white;
  font-size: 18px;
  text-transform: uppercase;
}

.app-options {
  padding: 25px 15px;
}

.displayed-chord, .next-displayed-chord {
  text-align: center;
  font-size: 92px;
}

.next-displayed-chord {
  font-size: 52px;
  margin-left: 52px;
  color: #424242;
  position: absolute;
  bottom: 42px;
}

.option-row {
  padding: 15px;
  background: rgba(0, 0, 0, 0.24);
}

.option-row label {
  padding: 5px 0;
  font-weight: bold;
}

.app-button.random {
    width: auto;
    padding: 7px 10px;
    background: #7d7d7d;
    margin-left: -3px;
    color: #c5c5c5;
}

.option-row input[type="number"] {
  width: 56%;
    padding: 7px 10px;
    background: #d4d4d4;
    border: 0;
}

.option-row input[type="radio"] {
  margin-top: 10px;
}

.option-row .radio-val {
  margin-right: 20px;
}

.error {
    color: #dc3535;
    font-weight: bold;
    margin-top: -10px;
    display: block;
}

.pulsed {
  animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#player {
    padding-top: 40px;
}

.sortableClass{
    padding: 10px;
    border: 1px solid #e6e6e6;
    background: white;
    margin-right: 10px;
    font-size: 18px;
    border-radius: 3px;
    min-width: 50px;
    margin-bottom: 10px;
    text-align: center;
    list-style: none;
    opacity: 0.5;
}

.chords-table li.lineBreak {
    flex-basis: 100%;
    height: 1px;
    overflow: hidden;
    padding: 0;
    border: 1px solid #424242;
    transform: none !important;
}

.chords-table li.lineBreak:hover {
    border: 1px solid #dc3535;
}

.chords-table li.lineBreakList {
    background: #424242;
    padding: 10px 14px;
}

.radioSpan {
    white-space: nowrap;
    float: left;
}

.slideUpButton {
    position: absolute;
    font-size: 30px;
    right: 10px;
    bottom: 5px;
    background: #c1c1c1;
    border-radius: 80px;
    padding: 10px 12px;
    color: white;
    cursor: pointer;
}

.slideUpButton:hover {
    background: rgb(186, 199, 1);
}

.fa-chevron-down:before {
    top: 2px;
    position: relative;
}

.isVisible, .isNotVisible {
    overflow-y: hidden;
    max-height: 100vh;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.isNotVisible {
    max-height: 95px;
}

@media only screen and (max-width: 1200px) {
    .radio-option {
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 767px) {
    .option-row input[type="number"] {
        width: 50%;
    }

    .option-row label {
        font-size: 18px;
        text-align: center;
        display: block;
        margin-bottom: 1em;
    }

    .radio-title {
        font-weight: bold;
    }

    .option-row {
        padding: 15px 15px 30px 15px;
        border-bottom: 1px solid #dadada;
    }

    .app-button {
        width: 100%;
        margin-top: 15px;
    }

    .chords-table {
        -webkit-justify-content: center;
        justify-content: center;
    }

    #player .arrow-cont {
        display: block;
        width: 100%;
        text-align: center;
    }

    #player .arrow {
        font-size: 50px;
        width: 19%;
    }

    .isVisible {
        max-height: 1400px;
        padding-bottom: 40px;
    }

}

@media only screen and (max-width: 549px) {
    .app-button.random, .option-row input[type="number"] {
        width: 100%;
        margin-left: initial;
    }

    #player .arrow {
        width: 14%;
    }
}
