.radio-option {
    display: block;
    float: left;
}

.radio-option input[type="radio"] {
    margin-top: 7px;
    width: 20%;
    display: block;
    float: left;
}

.radio-option .radio-val {
    margin-right: 1px;
    width: 60%;
    display: block;
    float: left;
}

.radio-title {
    display: block;
    text-align: center;
}